version: "3.7"
services:
  s3_backend:
    command: server /data
    container_name: s3
    environment:
      - MINIO_ACCESS_KEY=ElexirID
      - MINIO_SECRET_KEY=987654321
    healthcheck:
      test: ["CMD", "curl", "--cacert /root/.minio/certs/CAs/public.crt", "-f", "https://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    image: minio/minio:RELEASE.2019-10-12T01-39-57Z
    ports:
      - "9000:9000"
    volumes:
      - /tmp/data:/data
      - ./certs/ca.crt:/root/.minio/certs/CAs/public.crt
      - ./certs/s3.crt:/root/.minio/certs/public.crt
      - ./certs/s3.key:/root/.minio/certs/private.key
  mq_server:
    container_name: mq
    image: rabbitmq:3.7.8-management-alpine
    ports:
      - "15672:15672"
      - "5672:5672"
      - "5671:5671"
    volumes:
      - ./defs.json:/etc/rabbitmq/defs.json
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ./certs/ca.crt:/etc/rabbitmq/ssl/ca.crt
      - ./certs/mq.crt:/etc/rabbitmq/ssl/mq.crt
      - ./certs/mq.key:/etc/rabbitmq/ssl/mq.key
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "5672" ]
      interval: 30s
      timeout: 20s
      retries: 3
  s3_proxy:
    build: ../
    image: nbisweden/s3inbox
    container_name: proxy
    depends_on:
      - mq_server
      - s3_backend
    restart: always
    environment:
      - AWS_URL=https://s3:9000
      - AWS_ACCESSKEY=ElexirID
      - AWS_SECRETKEY=987654321
      - AWS_BUCKET=test
      - AWS_REGION=us-east-1
      - AWS_READYPATH=/minio/health/ready
      - BROKER_HOST=mq
      - BROKER_USER=test
      - BROKER_PASSWORD=test
      - BROKER_PORT=5671
      - BROKER_VHOST=/test
      - BROKER_EXCHANGE=localega.v1
      - BROKER_ROUTINGKEY=files.inbox
      - BROKER_SSL=true
      - BROKER_CACERT=/certs/ca.crt
      - BROKER_CLIENTCERT=/certs/client.crt
      - BROKER_CLIENTKEY=/certs/client.key
      - BROKER_VERIFYPEER=true
      - SERVER_CERT=/certs/proxy.crt
      - SERVER_KEY=/certs/proxy.key
      - SERVER_USERS=users.csv
    volumes:
      - ./certs/ca.crt:/certs/ca.crt
      - ./certs/client.crt:/certs/client.crt
      - ./certs/client.key:/certs/client.key
      - ./certs/proxy.crt:/certs/proxy.crt
      - ./certs/proxy.key:/certs/proxy.key
      - ./users.csv:/users.csv
    ports:
      - "8000:8000"
      - "8001:8001"
